.catalog {
  @include box(320px, 30px 30px);

  @media (min-width: $tablet-width) {
    @include box(768px, 30px 50px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include min-box(1100px, 1150px, 160px 50px);
    padding-bottom: 0;
  }
}
