.copyright {
  min-height: 80px;
  min-width: 185px;
  padding: 0 37px;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 57px;
  }
}

.copyright__text {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 25px;
  color: $color-black;

  @include font(19px, 26px, 700);
}

.copyright__link {
  outline: none;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $color-green;
}
