.description {
  @include box(320px, 35px 30px);
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    @include box(768px, 65px 50px);
    max-width: 960px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include min-box(1100px, 1150px, 104px 50px);
    padding-bottom: 0;
    padding-left: 175px;
  }
}

.description__title {
  margin: 0;
  padding-bottom: 20px;

  @include font(25px, 30px, 700);

  @media (min-width: $tablet-width) {
    @include font(43px, 50px, 700);
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;

    @include font(53px, 57px, 700);
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.description__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  margin-bottom: 21px;

  @include font(17px, 20px, 700);

  @media (min-width: $tablet-width) {
    width: 304px;
    margin-bottom: 35px;

    @include font(20px, 22px, 700);
  }

  &::before {
    content: "";
    display: block;
    margin-top: 10px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-top: 25px;
    }
  }

  &--icon-flower::before {
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 0 0;
  }

  &--icon-price::before {
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--icon-like::before {
    width: 33px;
    height: 28px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--icon-knitting::before {
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--icon-rocket::before {
    width: 54px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--icon-gift::before {
    width: 33px;
    height: 28px;
    background-image: url("../img/icon-feature-gift.svg");
  }

  @media (min-width: $tablet-width) {
    &--icon-flower {
      order: 0;
    }

    &--icon-price {
      order: 3;
    }

    &--icon-like {
      order: 5;
    }

    &--icon-knitting {
      order: 2;
      margin-left: 30px;
    }

    &--icon-rocket {
      order: 4;
      margin-left: 30px;
    }

    &--icon-gift {
      order: 6;
      margin-left: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--icon-knitting,
    &--icon-gift,
    &--icon-rocket {
      margin-left: 47px;
    }

    &--icon-flower,
    &--icon-like,
    &--icon-price {
      margin-left: 50px;
    }
  }
}
