.field-text {
  position: relative;
  outline: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;

    min-height: 60px;
  }
}

.field-text__label {
  display: block;

  @include font(17px, 18px, 700);
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    @include font(19px, 18px, 700);
    margin-right: 25px;
  }
}

.field-text__input {
  width: 100%;
  padding: 15px 0;
  padding-right: 15px;
  font-family: $font-family;

  @include font(17px, 18px, 400);
  color: $color-grey;
  border: none;
  border-bottom: 2px solid $color-black;
  outline: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-green;
  }

  &:hover + .field-text__icon,
  &:focus + .field-text__icon {
    opacity: 1;
    fill: $color-green;
  }

  &:active {
    border-bottom: 2px solid $color-green;
  }

  &:active + .field-text__icon {
    opacity: 1;
    fill: $color-green;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding-left: 20px;

    @include font(19px, 18px, 400);

    &--mix {
      background-color: #f1f1f1;
    }
  }
}

.field-text__icon {
  position: absolute;
  top: -4px;
  right: 6px;
  fill: $color-grey;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 17px;
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    right: 6px;
  }
}
