.main-nav {
  width: 100%;
  min-height: inherit;
  background-color: #ffffff;

  &--opened .main-nav__btn {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      background-color: $color-black;
      width: 20px;
      height: 2px;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--closed .main-nav__item:not(.main-nav__item--logo) {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  // при отключении js

  &--no-js {
    position: static;
  }

  &--no-js .main-nav__item {
    display: block;
  }

  &--no-js .main-nav__btn {
    display: none;
  }
}

.main-nav__btn {
  position: absolute;
  right: 30px;
  top: 29px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 20px;
    height: 2px;
    background-color: $color-black;
    box-shadow: 0 6px 0 0 $color-black, 0 12px 0 0 $color-black;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav__list {
  min-height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;

  &--logo {
    justify-content: center;

    @media (min-width: $tablet-width) {
      order: -3;
      justify-content: flex-start;
      height: 89px;
      padding-left: 50px;
      flex-basis: 48%;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      padding-left: 0;
      flex-basis: 22%;
      border-bottom: none;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      order: 2;
      justify-content: flex-start;
      flex-basis: 26%;
      padding: 17px 10px;
      padding-left: 50px;
      background-color: #fafafa;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      padding: 0;
      flex-basis: 20%;
      padding-left: 50px;
      background-color: #ffffff;
    }
  }

  &--knitting {
    @media (min-width: $tablet-width) {
      order: 2;
      justify-content: flex-start;
      flex-basis: 20%;
      padding: 17px 15px;
      flex-grow: 1;
      background-color: #fafafa;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      min-width: 220px;
      padding: 0;
      flex-basis: 18%;
      padding-left: 35px;
      background-color: #ffffff;
      border-left: 1px solid #e7e7e7;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      order: -2;
      flex-basis: 85px;
      border: 1px solid #e7e7e7;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      min-width: 85px;
      margin-left: auto;
      border-bottom: none;
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      order: -1;
      justify-content: flex-end;
      padding-right: 50px;
      flex-basis: 40%;
      flex-grow: 2;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      flex-basis: 17%;
      padding-right: 50px;
      padding-left: 80px;
      border-bottom: none;
    }
  }
}

.main-nav__link {
  display: block;
  outline: none;

  @include font(17px, 24px, 700);
  color: #000000;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    padding: 27px;
    padding-left: 73px;
  }

  &--logo {
    @media (max-width: $mobile-width-only) {
      padding: 19px 0;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    @include font(15px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    @include font(17px, 24px, 700);
  }

  &--search {
    @media (min-width: $tablet-width) {
      font-size: 0;
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      @include font(17px, 24px, 700);
    }
  }
}
