.main-nav {
  width: 100%;
  background-color: #ffffff;

  &--opened .main-nav__btn {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      background-color: $color-black;
      width: 20px;
      height: 2px;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--closed .main-nav__item:not(.main-nav__item--logo) {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  // без js

  &--no-js {
    position: static;
  }

  &--no-js .main-nav__item {
    display: block;
  }

  &--no-js .main-nav__btn {
    display: none;
  }
}

.main-nav__btn {
  position: absolute;
  right: 30px;
  top: 29px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 20px;
    height: 2px;
    background-color: $color-black;
    box-shadow: 0 6px 0 0 $color-black, 0 12px 0 0 $color-black;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    max-width: 1150px;
  }
}

.main-nav__item {
  display: flex;
  border-bottom: 1px solid #e7e7e7;

  &--logo {
    justify-content: center;

    @media (min-width: $tablet-width) {
      order: -3;
      justify-content: flex-start;
      flex-basis: 48%;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      flex-basis: 22%;
      border-bottom: none;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      order: 2;
      justify-content: flex-start;
      flex-basis: 26%;
      background-color: #f1f1f1;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      padding: 0;
      flex-basis: 20%;
      background-color: #ffffff;
    }
  }

  &--knitting {
    @media (min-width: $tablet-width) {
      order: 2;
      justify-content: flex-start;
      flex-basis: 20%;
      flex-grow: 1;
      background-color: #f1f1f1;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      min-width: 220px;
      padding: 0;
      flex-basis: 18%;
      background-color: #ffffff;
      border-left: 1px solid #e7e7e7;
    }
  }

  &--main-page {
    @media (min-width: $tablet-width) {
      background-color: #f9f9f9;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      order: -2;
      flex-basis: 85px;
      border: 1px solid #e7e7e7;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      min-width: 85px;
      margin-left: auto;
      border-bottom: none;
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      order: -1;
      justify-content: flex-end;
      flex-basis: 40%;
      flex-grow: 2;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      flex-basis: 17%;
      border-bottom: none;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  outline: none;

  @include font(17px, 24px, 700);
  color: #000000;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:hover .main-nav__icon,
  &[href]:focus .main-nav__icon {
    opacity: 1;
    fill: $color-green;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    padding: 27px;
    padding-left: 73px;
  }

  @media (min-width: $tablet-width) {
    @include font(15px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    @include font(17px, 24px, 700);
  }

  &--logo {
    @media (max-width: $mobile-width-only) {
      padding: 19px 0;
      text-align: center;
    }

    @media (min-width: $tablet-width) {
      padding: 15px;
      padding-left: 50px;
      padding-top: 21px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-top: 8px;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      padding: 18px;
      padding-right: 10px;
      padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 32px;
    }
  }

  &--knitting {
    @media (min-width: $tablet-width) {
      padding: 18px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 32px;
      padding-left: 38px;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      font-size: 0;
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      padding: 32px;
      padding-right: 50px;

      @include font(17px, 24px, 700);
    }
  }
}

.main-nav__icon {
  position: absolute;
  opacity: 0.2;

  &--cart {
    @media (max-width: $mobile-width-only) {
      top: 31px;
      left: 33px;
    }

    top: 35px;
    left: -20px;
  }

  &--search {
    @media (max-width: $mobile-width-only) {
      top: 30px;
      left: 31px;
    }

    top: 37px;
    left: 36px;
  }
}
