.production {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 26px 0;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 668px;
    margin-bottom: 61px;
    padding: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: content-box;
    width: 1050px;
    height: 455px;
    margin-top: 55px;
    margin-bottom: 100px;
    padding: 0;
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 89px;

  @include font(17px, 24px, 700);

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: -4px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 39px;
      left: 78px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-left: 107px;

    @include font(20px, 24px, 700);
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 360px;
    padding-left: 76px;
    padding-right: 50px;
    padding-top: 95px;
  }
}

.production__text {
  order: 2;
  margin: 0;
  margin-bottom: 24px;
  padding: 0 33px;

  @include font(13px, 24px, 400);
  color: $color-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    padding: 0 40px;

    @include font(15px, 30px, 400);
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 360px;
    margin-bottom: 44px;
    padding-left: 76px;
    padding-right: 50px;
  }
}

.production__link {
  order: 2;
  width: 190px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    width: 214px;
    margin: 0;
    margin-left: 78px;
  }
}

.production__video {
  position: relative;
  margin-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 78px;
    width: 101px;
    height: 77px;
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      top: 188px;
      left: 283px;
    }

    @media (min-width: $desktop-width) {
      top: 186px;
      left: 290px;
    }
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.2);
  }

  &:active::after {
    transform: scale(0.9);
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 680px;
    margin-bottom: 0;
  }
}

.production__video-img {
  @media (min-width: $tablet-width) {
    height: 455px;
    margin-bottom: 0;
  }
}
