.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  min-height: 80px;
  margin: 0;
  padding: 0 40px;
  padding-top: 28px;
  padding-bottom: 14px;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-width: 335px;
    padding-left: 116px;
    padding-top: 59px;
  }
}

.socials__item {
  margin-right: 42px;
  margin-bottom: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  outline: none;

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: $color-green;
  }

  &:active .socials__icon {
    opacity: 0.3;
  }
}
