$font-family: "Open Sans", "Arial", sans-serif;
$color-green: #63d1bb;
$color-darkGreen: #56c3b2;
$color-grey: #444444;
$color-black: #000000;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
